exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(doParallel,registerDoParallel)
importFrom(foreach,getDoParRegistered)
importFrom(foreach,"%dopar%")
importFrom(foreach,foreach)
useDynLib(BMCDcpp, .registration = TRUE)
